@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
    
}

a {
    text-decoration: none;
}

#hero {
    background-image: url(./Images/backgroundhero.png);
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    color: #eee;
    height: 100vh; /* Full viewport height */
    position: relative; /* Allows absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Ensure no horizontal scroll on smaller screens */
@media (max-width: 600px) {
    #hero {
        height: 100vh; /* Adjust height for smaller screens if needed */
    }
}


.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.logo {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
    width: 300px; /* Set a fixed width or use max-width to adjust the size */
    display: block; /* Ensure the image is treated as a block-level element */
}

.et-hero-tabs .myname {
    font-size: 50px !important;
}

.et-hero-tabs h1, .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-hero-tabs h3, .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(14, 14, 14, 0.8); /* Slightly transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    z-index: 10;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}


.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #eee;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.et-hero-tab:hover {
    color: white;
    background: transparent;
    transform: scale(1.3); /* Scale up the button on hover */
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #080402;
    transition: left 0.3s ease;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap if needed */
    justify-content: center;
    gap: 1em; /* Space between buttons */
    margin-top: 2em; /* Space above buttons */
    padding: 0 1em; /* Padding to avoid edge cases */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.btn1 {
    background-color: maroon; /* Default background color */
    color: #fff; /* Text color */
    border: solid maroon 1px;
    border-radius: 0; /* Remove border radius */
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition for background, text color, and scaling */
    flex: 1;
    min-width: 150px; /* Minimum width for buttons */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.btn1:hover {
    border: 1px solid maroon; /* Optional: Add a border to make the button visible when transparent */
    transform: scale(1.1); /* Scale up the button on hover */
}


.btn2 {
    background-color: transparent; /* Default background color */
    color: #fff; /* Text color */
    border: solid #fff 1px;
    border-radius: 0; /* Remove border radius */
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition for background, text color, and scaling */
    flex: 1;
    min-width: 150px; /* Minimum width for buttons */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.btn2:hover {
    border: 1px solid #fff; /* Optional: Add a border to make the button visible when transparent */
    transform: scale(1.1); /* Scale up the button on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (min-width: 800px) {
    .et-hero-tabs h1, .et-slide h1 {
        font-size: 3rem;
    }
    .et-hero-tabs h3, .et-slide h3 {
        font-size: 1rem;
    }
    .et-hero-tab {
        font-size: 1rem;
    }
}


/* DEMO-SPECIFIC STYLES */

.typewriter {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.typewriter h3 {
    color: #eee; /* Text color */
    font-family: "Century Gothic", 'Lato', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adjust as needed */
    font-size: 20px;
}

.typewriter #typewriter-text {
    display: inline-block; /* Ensure it fits correctly in the flow */
    border-right: .15em solid #eee; /* The typewriter cursor */
    color: rgb(224, 164, 36);
    animation: blink-caret 0.75s step-end infinite; /* Blink animation */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #eee; }
}

.introduction {
    display: flex;
    justify-content: flex-start; /* Aligns the image to the left */
    align-items: center; /* Centers the image vertically */
    height: 100vh; /* Makes the section take up the full height of the viewport */
    padding-left: 2em; /* Adds some padding to the left */
    background-image: linear-gradient(to right bottom, #1d2123, #1c2022, #1b1f20, #1a1e1f, #191d1e, #181c1d, #171b1c, #161a1b, #151819, #141718, #121516, #111314);
    background-size: cover; /* Ensure the background image covers the section */
    background-position: center; /* Center the background image */
}

.ako {
    max-width: 100%; /* Ensures the image does not exceed its container's width */
    height: auto; /* Maintains the aspect ratio */
    width: 900px; /* Increased width for the image */
    object-fit: cover; /* Ensures the image covers the allocated space */
}

.about-me {
    max-width: 800px; /* Limits the width of the text content for desktop */
    margin-left: 2em; /* Adds space between the image and text */
}

.about-me h2 {
    font-size: 3rem; /* Font size for the header */
    margin-bottom: 1em; /* Space below the header */
    color: maroon;
    font-family: 'Poppins', sans-serif;
}

.about-me span {
    font-size: 3rem; /* Font size for the span */
    color: #FFF5EA;
    font-family: 'Poppins', sans-serif;
}

.about-me p {
    font-size: 1.5rem; /* Font size for the paragraphs */
    line-height: 1.6; /* Line height for readability */
    margin-bottom: 1em; /* Space between paragraphs */
    color: #FFF5EA;
    font-family: 'Poppins', sans-serif;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    margin-top: 1.5em;
    gap: 1em; /* Space between icons */
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #080402; /* Background color of the icons */
    color: white; /* Icon color */
    font-size: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.social-icon:hover {
    background-color: maroon; /* Hover background color */
    color: white; /* Hover icon color */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .introduction {
        flex-direction: column;
        align-items: center; /* Center everything vertically */
        padding: 2em 1em; /* Adjust padding for medium screens */
    }

    .ako {
        width: 500px; /* Adjust image size for medium screens */
        margin-bottom: 1em; /* Add space below the image */
    }

    .about-me {
        max-width: 90%; /* Allow text to take more width on smaller screens */
        margin-left: 0; /* Remove margin when stacked */
        text-align: center; /* Center text for smaller screens */
    }
    

    .about-me h2 {
        font-size: 2rem; /* Font size for the span */
        color: maroon;
        font-family: 'Poppins', sans-serif;
    }

    .about-me span {
        font-size: 2rem; /* Font size for the span */
        color: #FFF5EA;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
    }

    .about-me p {
        font-size: 1.2rem; /* Adjust paragraph size for medium screens */
    }
}

@media (max-width: 768px) {
    .introduction {
        padding: 2em 1em; /* Adjust padding for smaller screens */
    }

    .ako {
        width: 300px; /* Further adjust image size for smaller screens */
    }

    .about-me h2 {
        font-size: 2rem; /* Further adjust header size for smaller screens */
    }

    .about-me p {
        font-size: 1rem; /* Further adjust paragraph size for smaller screens */
    }
}


h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: lighter;
  }
  
  ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: #FFF5EA;
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  ul li .title,
  ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
    
  }
  ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: bolder;
    color: maroon;
  }
  ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  ul li .title::before,
  ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.2rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
  .credits {
    margin-top: 1rem;
    text-align: right;
  }
  .credits a {
    color: var(--color);
  }
  
.bgcolor {
    background-image: linear-gradient(to right bottom, #1d2123, #1c2022, #1b1f20, #1a1e1f, #191d1e, #181c1d, #171b1c, #161a1b, #151819, #141718, #121516, #111314);

}
  .experience {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 20vh;           /* Full viewport height for vertical centering */
    text-align: center;      /* Center text within the heading */
  }
  
  .experience h1 {
    font-family: 'Poppins', sans-serif; /* Ensure 'Poppins' is imported or available */
    font-weight: bold;
    font-size: 2.5rem;
    color: #212121; /* Dark color for the main heading text */
    margin: 0;
    position: relative;
    display: inline-block;
  }
  
  .experience h1 .highlight {
    color: #ee4d4d; /* Light pink color for the span */
    background: linear-gradient(90deg, #ee4d4d 50%, #600000 50%); /* Gradient background */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent to show gradient */
    padding: 0 0.2rem; /* Space around the span */
    border-radius: 0.2rem; /* Rounded corners for the span */
  }
  
  
.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  .projects {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 20vh;           /* Full viewport height for vertical centering */
    text-align: center;      /* Center text within the heading */
  }
  
  .projects h1 {
    font-family: 'Poppins', sans-serif; /* Ensure 'Poppins' is imported or available */
    font-weight: bold;
    font-size: 2.5rem;
    color: #212121; /* Dark color for the main heading text */
    margin: 0;
    position: relative;
    display: inline-block;
  }
  
  .projects h1 .highlight {
    color: #ee4d4d; /* Light pink color for the span */
    background: linear-gradient(90deg, #ee4d4d 50%, #600000 50%); /* Gradient background */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent to show gradient */
    padding: 0 0.2rem; /* Space around the span */
    border-radius: 0.2rem; /* Rounded corners for the span */
  }


  #blogs {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height for vertical centering */
    background: linear-gradient(45deg, #000000, #434343); /* Radiant black and gray background */
    color: #ffffff;          /* White text color for contrast */
    font-family: 'Poppins', sans-serif; /* Ensure 'Poppins' is imported or available */
    font-size: 2rem;         /* Larger font size */
    text-align: center;      /* Center text within the section */
    padding: 2rem;          /* Space around the text */
    border-radius: 8px;     /* Rounded corners for the section */
  }


  #contact-section {
    background: #FFF5EA;
    color: #080402;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact_us_6 .responsive-container-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact_us_6 .contact-card {
    flex: 1;
    max-width: 45%;
    background-color: #222;
    padding: 2rem; /* Increased padding */
    border-radius: 8px;
    border-bottom-right-radius: 50px; /* Added bottom-right radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFF5EA;
    text-align: center; /* Center text */
  }
  
  .contact_us_6 .contact-card h2 {
    font-size: 2rem; /* Increased font size */
    margin-bottom: 1rem;
  }
  
  .contact_us_6 .contact-card p {
    font-size: 1.2rem; /* Increased font size */
    margin-bottom: 0.5rem;
  }
  
  .contact_us_6 .download-cv-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem; /* Increased font size */
    color: #ffffff;
    background-color: maroon;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1rem; /* Top padding before the button */
  }
  
  .contact_us_6 .download-cv-btn:hover {
    background-color: #333333;
    transform: scale(1.05);
  }
  
  .contact_us_6 .location-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact_us_6 .location-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    #contact-section {
      padding: 1rem;
    }
  
    .contact_us_6 .responsive-container-block {
      flex-direction: column;
    }
  
    .contact_us_6 .contact-card,
    .contact_us_6 .location-image {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  
    .contact_us_6 .location-image img {
      height: 300px;
      object-fit: cover;
    }
  }


  #footer {
    background: linear-gradient(to right, #000000, #434343);
    color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    margin-bottom: 1rem;
  }
  
  .social-icon {
    color: #FFFFFF;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
  }
  
  .social-icon:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  
  .footer-nav {
    margin-bottom: 1rem;
  }
  
  .footer-nav a {
    color: #FFFFFF;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .footer-nav a:hover {
    color: maroon;
    text-shadow: 0 0 5px rgba(3, 169, 244, 0.5);
  }
  
  .footer-bottom {
    margin-top: 1rem;
  }
  
  .footer-bottom p {
    font-size: 0.875rem;
    margin: 0;
    color: #B0B0B0; /* Lighter text color */
    transition: color 0.3s;
  }
  
  .footer-bottom p::before {
    content: "@ ";
  }

  html {
    scroll-behavior: smooth; /* Enables smooth scrolling across the entire document */
  }
  
  .footer-nav a {
    color: #FFFFFF;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .footer-nav a:hover {
    color: maroon;
    text-shadow: 0 0 5px rgba(3, 169, 244, 0.5);
  }
  

  
  
  
  
















